[Unit]
Description=ssh-ify service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/AutoScriptX
ExecStart=/etc/AutoScriptX/bin/ssh-ify -config /etc/AutoScriptX/config/ssh-ify.json
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
